*{
    padding: 0;
    margin: 0 ;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Public Sans', sans-serif; */
}
.container{
    background-color: rgb(198,239,200);
    height: 100vh;
    width: 100vw;
    background-image: url("images/Group\ 1766.png"), url("images/Group\ 1767.png");
    background-repeat:no-repeat;
    background-size:cover;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
  }
  h2 span{
    font-weight:bolder;
    height: 26px;
  }
  img{
    width: 400px;
    height: 400px;
  }
  .content{
    max-width: 330px;
    /* background-color: red; */
    margin-left: 120px;
  }
  .wheel{
    animation: rotateWheel 5s;
    padding: auto;
  }
  .mobilewheel{
    display: none;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .luckBtn{
    cursor: pointer;
    margin-top: 10px;
    height: 55px;
  }
  .luckBtn button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(20,101,49);
    font-weight: bolder;
    color: #fff;
    width: 100%;
    font-size: 1.7rem;
    text-decoration: none;
    height: 100%;
  }
  
  .inps{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 11px;
    padding: 3px;
  }
  .inps>div{
    margin: 2px;
  }
  .cntn{
    cursor: grab;
    display: flex;
    padding: 2px;
    flex-direction: column;
  }
  .inps input{
    border: none;
  }
  .agreement{
    font-size: 0.8rem;
    border: solid black 1px;
  }

  @media screen and (max-width:750px) {
    .container{
        background-image: url("./images/mobile-design1.png"),url("./images/mobile-design.png") !important;
        /* background-position: top; */
        background-size:500px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        flex-wrap: wrap;
        font-weight: bolder;
    }
    .content{
        margin: 18% 8% ;
        max-width: 80%;
    }
    .wheel{
        display: none;
    }
    .mobilewheel{
        display: contents;
    }
    .mobilewheel img{
        height:180px;
        width: 200px;
    }
    .agreement{
        padding: 4px;
    }
  }