.box{
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.coupon{
    display:flex;
    flex-direction: column;
    width: 500px;
}
.coupon div p{
    text-align: center;
}
.coupon h2{
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
}
.couponCode{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem !important;
    width: 100%;
    padding: 2px 0px;
}
.myCode{
    height: auto;
    background-color: rgb(162,195,164);
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.myCode p{
    color: #fff; 
    font-weight: 800;
    padding: 7px 0px;
}
.myCopyBtn{
    width:30%;
}
.myCopyBtn button{
    width: 100%;
    padding: 11px 0px !important;
}
.copyBtn {
    background-color: rgb(20,101,49) !important;
    font-size: 1.4rem !important;
    display: flex;

}
.congoMsg{
    font-size: 1.2rem;
    font-weight: 800;
    color:rgb(46, 46, 46)
}
.close{
    border-radius: 30px !important;
    margin-top: 5% !important;
    width: 90%;
    margin-right: auto !important;
    margin-left: auto !important;
}
.claimDiscount{
    font-weight: 100;
    font-size: 0.83rem;
    margin-top: 1.5rem;
}
@media screen and (max-width:850px) and (min-width:650px){
    .box{
        display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
}
@media screen and (max-width:650px){
    .box{
        display: flex;
        justify-content: space-between;
        align-items:center;
        position: absolute;
    }
    .coupon{
        width: 300px;
        position: relative;
        bottom: 27%;
    }
    .coupon h2{
        font-size: 2.2rem;
    }
    .close{
        font-size: 1.1rem !important;
    }
}