*{
    padding: 0;
    margin: 0 ;
    font-family: 'Poppins';
}
.container{
    background-color: rgb(198,239,200);
    height: 100vh;
    width: 100vw;
    background-image: url("images/Group\ 1766.png"), url("images/Group\ 1767.png");
    background-repeat:no-repeat;
    background-size:cover;
    font-size: 1rem;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  h2 span{
    font-weight:bolder;
    height: 26px;
  }
  .bigWheel{
    width: 400px;
    height: 400px;
  }
  .content{
    max-width: 330px;
    margin-left: 120px;
  }
  .wheel{
    animation: rotateWheel 5s;
    padding: auto;
  }
  .tabletWheel{
    display: none;
  }  .mobilewheel{
    display: none;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .luckBtn{
    cursor: pointer;
    margin-top: 10px;
    height: 55px;
  }
  .luckBtn button{
    border-radius: 50px;
    background-color: rgb(20,101,49);
    font-weight: bolder;
    color: #fff;
    width: 100%;
    font-size: 1.7rem;
    text-decoration: none;
    height: 100%;
  }
  .parameter{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 11px;
    padding: 7px;
  }
  .iconWrapper{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .contain-input{
    cursor: grab;
    display: flex;
    padding: 2px;
    flex-direction: column;
  }
  .parameter input{
    border: none;
  }
  .agreement{
    font-size: 0.83rem;
    border: solid black 2px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
  }
  .agreement >span{
    margin-left: 1px;
    margin-right: 1px;
  }
  form div p{
    margin-top: 2rem;
    font-size: 0.7em;
    color: rgb(46, 46, 46);
  }
  @media screen and (max-width:850px) and (min-width:650px) {
    .mobilewheel{
      display: none;
    }
    .wheel{
      display: none;
    }
    .tabletWheel{
      display: contents;
    }
    .tabletWheel img{
      width: 30%;
    }
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .content{
      margin-right: auto;
      margin-left: auto;
    }

  }
  @media screen and (max-width:650px) {
    .container{
      background: url("./images/mobile-design1.png") top left no-repeat, url("./images/mobile-design.png") bottom left no-repeat, rgb(198,239,200);
      background-size: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
      flex-wrap: wrap;
      font-weight: bolder;
    }
    .content{
        margin: 9% 8% ;
        max-width: 80%;
    }
    .wheel{
        display: none;
    }
    .tabletWheel{
      display: none;
    }
    .mobilewheel{
        display: contents;
    }
    .mobilewheel img{
        width: 200px;
    }
    .agreement{
        padding: 4px;
    }
  }