.box{
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.coupon{
    display:flex;
    flex-direction: column;
    width: auto;
    max-width: 40%;
  /* color: rgb(20,101,49); */
}
.coupon h2{
    font-weight: 900;
    font-size: 3rem;
}
.couponCode{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem !important;
    /* width:500px; */
    padding:10px !important;
    /* align-items: center; */
    width: 100%;
}
.myCode{
    background-color: rgb(162,195,164);
    display: flex;
    color: #fff; ;
    width: 55%;
    justify-content: center;
    height: auto;
    padding:10px !important;

}
.copyBtn {
    background-color: rgb(20,101,49) !important;
    font-size: 2rem !important;
    height: auto;
    display: flex;

}
.coupon div span{
    font-size: 0.8rem;
}
.close{
    border-radius: 30px !important;
    margin-top: 5% !important;
}